<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container-fluid row-0">
        <div class="col-md-6">
            <img src="https://static.pexels.com/photos/28367/pexels-photo.jpg" style="max-width:100%;">
            <h1>Enter your airport code</h1></img>
        </div>
    </div>
    
    <div class="container-fluid row-5">
      <div class="col-md-4 col-md-offset-4">
            <h1 class="big">Find out now</h1>
            <div class="subtledark">
                <form action="." method="POST">
                   Airport: <input type="text" name="text" placeholder="ATL">
                    Time (24 hour): <input type="number" name="time" placeholder= "10">
                    <input type="submit" name="my-form" value="Enter">
                </form>
            </div>
        </div>
    </div>

</body>
</html>